FortmulaSOAPServer/web/WEB-INF/PilotoWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://piloto.co.edu.javeriana/" name="PilotoWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://piloto.co.edu.javeriana/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://piloto.co.edu.javeriana/" schemaLocation="PilotoWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registrarUsuario">
    <part name="parameters" element="tns:registrarUsuario"/>
  </message>
  <message name="registrarUsuarioResponse">
    <part name="parameters" element="tns:registrarUsuarioResponse"/>
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario"/>
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse"/>
  </message>
  <message name="crearCalendario">
    <part name="parameters" element="tns:crearCalendario"/>
  </message>
  <message name="crearCalendarioResponse">
    <part name="parameters" element="tns:crearCalendarioResponse"/>
  </message>
  <message name="verCalendario">
    <part name="parameters" element="tns:verCalendario"/>
  </message>
  <message name="verCalendarioResponse">
    <part name="parameters" element="tns:verCalendarioResponse"/>
  </message>
  <message name="calcularPuntaje">
    <part name="parameters" element="tns:calcularPuntaje"/>
  </message>
  <message name="calcularPuntajeResponse">
    <part name="parameters" element="tns:calcularPuntajeResponse"/>
  </message>
  <message name="verEscuderia">
    <part name="parameters" element="tns:verEscuderia"/>
  </message>
  <message name="verEscuderiaResponse">
    <part name="parameters" element="tns:verEscuderiaResponse"/>
  </message>
  <message name="crearEscuderia">
    <part name="parameters" element="tns:crearEscuderia"/>
  </message>
  <message name="crearEscuderiaResponse">
    <part name="parameters" element="tns:crearEscuderiaResponse"/>
  </message>
  <message name="crearPiloto">
    <part name="parameters" element="tns:crearPiloto"/>
  </message>
  <message name="crearPilotoResponse">
    <part name="parameters" element="tns:crearPilotoResponse"/>
  </message>
  <message name="eliminarPiloto">
    <part name="parameters" element="tns:eliminarPiloto"/>
  </message>
  <message name="eliminarPilotoResponse">
    <part name="parameters" element="tns:eliminarPilotoResponse"/>
  </message>
  <message name="verAuto">
    <part name="parameters" element="tns:verAuto"/>
  </message>
  <message name="verAutoResponse">
    <part name="parameters" element="tns:verAutoResponse"/>
  </message>
  <message name="eliminarAuto">
    <part name="parameters" element="tns:eliminarAuto"/>
  </message>
  <message name="eliminarAutoResponse">
    <part name="parameters" element="tns:eliminarAutoResponse"/>
  </message>
  <portType name="Services">
    <operation name="registrarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/registrarUsuarioRequest" message="tns:registrarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
    </operation>
    <operation name="crearCalendario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearCalendarioRequest" message="tns:crearCalendario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearCalendarioResponse" message="tns:crearCalendarioResponse"/>
    </operation>
    <operation name="verCalendario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verCalendarioRequest" message="tns:verCalendario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verCalendarioResponse" message="tns:verCalendarioResponse"/>
    </operation>
    <operation name="calcularPuntaje">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/calcularPuntajeRequest" message="tns:calcularPuntaje"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/calcularPuntajeResponse" message="tns:calcularPuntajeResponse"/>
    </operation>
    <operation name="verEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiaRequest" message="tns:verEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiaResponse" message="tns:verEscuderiaResponse"/>
    </operation>
    <operation name="crearEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearEscuderiaRequest" message="tns:crearEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearEscuderiaResponse" message="tns:crearEscuderiaResponse"/>
    </operation>
    <operation name="crearPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearPilotoRequest" message="tns:crearPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearPilotoResponse" message="tns:crearPilotoResponse"/>
    </operation>
    <operation name="eliminarPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPilotoRequest" message="tns:eliminarPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPilotoResponse" message="tns:eliminarPilotoResponse"/>
    </operation>
    <operation name="verAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verAutoRequest" message="tns:verAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verAutoResponse" message="tns:verAutoResponse"/>
    </operation>
    <operation name="eliminarAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarAutoRequest" message="tns:eliminarAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarAutoResponse" message="tns:eliminarAutoResponse"/>
    </operation>
  </portType>
  <binding name="ServicesPortBinding" type="tns:Services">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registrarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearCalendario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verCalendario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calcularPuntaje">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PilotoWebService">
    <port name="ServicesPort" binding="tns:ServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

