FortmulaSOAPServer/web/WEB-INF/PilotoWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://piloto.co.edu.javeriana/" name="PilotoWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://piloto.co.edu.javeriana/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://piloto.co.edu.javeriana/" schemaLocation="PilotoWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAll">
    <part name="parameters" element="tns:findAll"/>
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse"/>
  </message>
  <message name="agregar_piloto">
    <part name="parameters" element="tns:agregar_piloto"/>
  </message>
  <message name="agregar_pilotoResponse">
    <part name="parameters" element="tns:agregar_pilotoResponse"/>
  </message>
  <message name="eliminar_piloto">
    <part name="parameters" element="tns:eliminar_piloto"/>
  </message>
  <message name="eliminar_pilotoResponse">
    <part name="parameters" element="tns:eliminar_pilotoResponse"/>
  </message>
  <message name="buscar_piloto">
    <part name="parameters" element="tns:buscar_piloto"/>
  </message>
  <message name="buscar_pilotoResponse">
    <part name="parameters" element="tns:buscar_pilotoResponse"/>
  </message>
  <message name="actualizar_piloto">
    <part name="parameters" element="tns:actualizar_piloto"/>
  </message>
  <message name="actualizar_pilotoResponse">
    <part name="parameters" element="tns:actualizar_pilotoResponse"/>
  </message>
  <message name="registrarUsuario">
    <part name="parameters" element="tns:registrarUsuario"/>
  </message>
  <message name="registrarUsuarioResponse">
    <part name="parameters" element="tns:registrarUsuarioResponse"/>
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario"/>
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse"/>
  </message>
  <message name="crearCalendario">
    <part name="parameters" element="tns:crearCalendario"/>
  </message>
  <message name="crearCalendarioResponse">
    <part name="parameters" element="tns:crearCalendarioResponse"/>
  </message>
  <portType name="PilotoWebService">
    <operation name="findAll">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/findAllRequest" message="tns:findAll"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/findAllResponse" message="tns:findAllResponse"/>
    </operation>
    <operation name="agregar_piloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/agregar_pilotoRequest" message="tns:agregar_piloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/agregar_pilotoResponse" message="tns:agregar_pilotoResponse"/>
    </operation>
    <operation name="eliminar_piloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/eliminar_pilotoRequest" message="tns:eliminar_piloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/eliminar_pilotoResponse" message="tns:eliminar_pilotoResponse"/>
    </operation>
    <operation name="buscar_piloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/buscar_pilotoRequest" message="tns:buscar_piloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/buscar_pilotoResponse" message="tns:buscar_pilotoResponse"/>
    </operation>
    <operation name="actualizar_piloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/actualizar_pilotoRequest" message="tns:actualizar_piloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/actualizar_pilotoResponse" message="tns:actualizar_pilotoResponse"/>
    </operation>
    <operation name="registrarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/registrarUsuarioRequest" message="tns:registrarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
    </operation>
    <operation name="crearCalendario">
      <input wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/crearCalendarioRequest" message="tns:crearCalendario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/PilotoWebService/crearCalendarioResponse" message="tns:crearCalendarioResponse"/>
    </operation>
  </portType>
  <binding name="PilotoWebServicePortBinding" type="tns:PilotoWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="agregar_piloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminar_piloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscar_piloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizar_piloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registrarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearCalendario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PilotoWebService">
    <port name="PilotoWebServicePort" binding="tns:PilotoWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

