FortmulaSOAPServer/web/WEB-INF/Services.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://piloto.co.edu.javeriana/" name="Services" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://piloto.co.edu.javeriana/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://piloto.co.edu.javeriana/" schemaLocation="Services_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registrarUsuario">
    <part name="parameters" element="tns:registrarUsuario"/>
  </message>
  <message name="registrarUsuarioResponse">
    <part name="parameters" element="tns:registrarUsuarioResponse"/>
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario"/>
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse"/>
  </message>
  <message name="verPerfil">
    <part name="parameters" element="tns:verPerfil"/>
  </message>
  <message name="verPerfilResponse">
    <part name="parameters" element="tns:verPerfilResponse"/>
  </message>
  <message name="editarPerfil">
    <part name="parameters" element="tns:editarPerfil"/>
  </message>
  <message name="editarPerfilResponse">
    <part name="parameters" element="tns:editarPerfilResponse"/>
  </message>
  <message name="eliminarPerfil">
    <part name="parameters" element="tns:eliminarPerfil"/>
  </message>
  <message name="eliminarPerfilResponse">
    <part name="parameters" element="tns:eliminarPerfilResponse"/>
  </message>
  <message name="crearCalendario">
    <part name="parameters" element="tns:crearCalendario"/>
  </message>
  <message name="crearCalendarioResponse">
    <part name="parameters" element="tns:crearCalendarioResponse"/>
  </message>
  <message name="verCalendario">
    <part name="parameters" element="tns:verCalendario"/>
  </message>
  <message name="verCalendarioResponse">
    <part name="parameters" element="tns:verCalendarioResponse"/>
  </message>
  <message name="calcularPuntaje">
    <part name="parameters" element="tns:calcularPuntaje"/>
  </message>
  <message name="calcularPuntajeResponse">
    <part name="parameters" element="tns:calcularPuntajeResponse"/>
  </message>
  <message name="verEscuderias">
    <part name="parameters" element="tns:verEscuderias"/>
  </message>
  <message name="verEscuderiasResponse">
    <part name="parameters" element="tns:verEscuderiasResponse"/>
  </message>
  <message name="verEscuderia">
    <part name="parameters" element="tns:verEscuderia"/>
  </message>
  <message name="verEscuderiaResponse">
    <part name="parameters" element="tns:verEscuderiaResponse"/>
  </message>
  <message name="eliminarEscuderia">
    <part name="parameters" element="tns:eliminarEscuderia"/>
  </message>
  <message name="eliminarEscuderiaResponse">
    <part name="parameters" element="tns:eliminarEscuderiaResponse"/>
  </message>
  <message name="crearEscuderia">
    <part name="parameters" element="tns:crearEscuderia"/>
  </message>
  <message name="crearEscuderiaResponse">
    <part name="parameters" element="tns:crearEscuderiaResponse"/>
  </message>
  <message name="editarEscuderia">
    <part name="parameters" element="tns:editarEscuderia"/>
  </message>
  <message name="editarEscuderiaResponse">
    <part name="parameters" element="tns:editarEscuderiaResponse"/>
  </message>
  <message name="crearPiloto">
    <part name="parameters" element="tns:crearPiloto"/>
  </message>
  <message name="crearPilotoResponse">
    <part name="parameters" element="tns:crearPilotoResponse"/>
  </message>
  <message name="eliminarPiloto">
    <part name="parameters" element="tns:eliminarPiloto"/>
  </message>
  <message name="eliminarPilotoResponse">
    <part name="parameters" element="tns:eliminarPilotoResponse"/>
  </message>
  <message name="verOpinionesPiloto">
    <part name="parameters" element="tns:verOpinionesPiloto"/>
  </message>
  <message name="verOpinionesPilotoResponse">
    <part name="parameters" element="tns:verOpinionesPilotoResponse"/>
  </message>
  <message name="crearOpinionPiloto">
    <part name="parameters" element="tns:crearOpinionPiloto"/>
  </message>
  <message name="crearOpinionPilotoResponse">
    <part name="parameters" element="tns:crearOpinionPilotoResponse"/>
  </message>
  <message name="verAuto">
    <part name="parameters" element="tns:verAuto"/>
  </message>
  <message name="verAutoResponse">
    <part name="parameters" element="tns:verAutoResponse"/>
  </message>
  <message name="verAutos">
    <part name="parameters" element="tns:verAutos"/>
  </message>
  <message name="verAutosResponse">
    <part name="parameters" element="tns:verAutosResponse"/>
  </message>
  <message name="eliminarAuto">
    <part name="parameters" element="tns:eliminarAuto"/>
  </message>
  <message name="eliminarAutoResponse">
    <part name="parameters" element="tns:eliminarAutoResponse"/>
  </message>
  <message name="crearAuto">
    <part name="parameters" element="tns:crearAuto"/>
  </message>
  <message name="crearAutoResponse">
    <part name="parameters" element="tns:crearAutoResponse"/>
  </message>
  <message name="editarAuto">
    <part name="parameters" element="tns:editarAuto"/>
  </message>
  <message name="editarAutoResponse">
    <part name="parameters" element="tns:editarAutoResponse"/>
  </message>
  <message name="verApuestas">
    <part name="parameters" element="tns:verApuestas"/>
  </message>
  <message name="verApuestasResponse">
    <part name="parameters" element="tns:verApuestasResponse"/>
  </message>
  <message name="crearApuesta">
    <part name="parameters" element="tns:crearApuesta"/>
  </message>
  <message name="crearApuestaResponse">
    <part name="parameters" element="tns:crearApuestaResponse"/>
  </message>
  <message name="eliminarApuesta">
    <part name="parameters" element="tns:eliminarApuesta"/>
  </message>
  <message name="eliminarApuestaResponse">
    <part name="parameters" element="tns:eliminarApuestaResponse"/>
  </message>
  <portType name="Services">
    <operation name="registrarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/registrarUsuarioRequest" message="tns:registrarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
    </operation>
    <operation name="verPerfil">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verPerfilRequest" message="tns:verPerfil"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verPerfilResponse" message="tns:verPerfilResponse"/>
    </operation>
    <operation name="editarPerfil">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/editarPerfilRequest" message="tns:editarPerfil"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/editarPerfilResponse" message="tns:editarPerfilResponse"/>
    </operation>
    <operation name="eliminarPerfil">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPerfilRequest" message="tns:eliminarPerfil"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPerfilResponse" message="tns:eliminarPerfilResponse"/>
    </operation>
    <operation name="crearCalendario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearCalendarioRequest" message="tns:crearCalendario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearCalendarioResponse" message="tns:crearCalendarioResponse"/>
    </operation>
    <operation name="verCalendario">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verCalendarioRequest" message="tns:verCalendario"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verCalendarioResponse" message="tns:verCalendarioResponse"/>
    </operation>
    <operation name="calcularPuntaje">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/calcularPuntajeRequest" message="tns:calcularPuntaje"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/calcularPuntajeResponse" message="tns:calcularPuntajeResponse"/>
    </operation>
    <operation name="verEscuderias">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiasRequest" message="tns:verEscuderias"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiasResponse" message="tns:verEscuderiasResponse"/>
    </operation>
    <operation name="verEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiaRequest" message="tns:verEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verEscuderiaResponse" message="tns:verEscuderiaResponse"/>
    </operation>
    <operation name="eliminarEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarEscuderiaRequest" message="tns:eliminarEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarEscuderiaResponse" message="tns:eliminarEscuderiaResponse"/>
    </operation>
    <operation name="crearEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearEscuderiaRequest" message="tns:crearEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearEscuderiaResponse" message="tns:crearEscuderiaResponse"/>
    </operation>
    <operation name="editarEscuderia">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/editarEscuderiaRequest" message="tns:editarEscuderia"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/editarEscuderiaResponse" message="tns:editarEscuderiaResponse"/>
    </operation>
    <operation name="crearPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearPilotoRequest" message="tns:crearPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearPilotoResponse" message="tns:crearPilotoResponse"/>
    </operation>
    <operation name="eliminarPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPilotoRequest" message="tns:eliminarPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarPilotoResponse" message="tns:eliminarPilotoResponse"/>
    </operation>
    <operation name="verOpinionesPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verOpinionesPilotoRequest" message="tns:verOpinionesPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verOpinionesPilotoResponse" message="tns:verOpinionesPilotoResponse"/>
    </operation>
    <operation name="crearOpinionPiloto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearOpinionPilotoRequest" message="tns:crearOpinionPiloto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearOpinionPilotoResponse" message="tns:crearOpinionPilotoResponse"/>
    </operation>
    <operation name="verAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verAutoRequest" message="tns:verAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verAutoResponse" message="tns:verAutoResponse"/>
    </operation>
    <operation name="verAutos">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verAutosRequest" message="tns:verAutos"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verAutosResponse" message="tns:verAutosResponse"/>
    </operation>
    <operation name="eliminarAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarAutoRequest" message="tns:eliminarAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarAutoResponse" message="tns:eliminarAutoResponse"/>
    </operation>
    <operation name="crearAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearAutoRequest" message="tns:crearAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearAutoResponse" message="tns:crearAutoResponse"/>
    </operation>
    <operation name="editarAuto">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/editarAutoRequest" message="tns:editarAuto"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/editarAutoResponse" message="tns:editarAutoResponse"/>
    </operation>
    <operation name="verApuestas">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/verApuestasRequest" message="tns:verApuestas"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/verApuestasResponse" message="tns:verApuestasResponse"/>
    </operation>
    <operation name="crearApuesta">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/crearApuestaRequest" message="tns:crearApuesta"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/crearApuestaResponse" message="tns:crearApuestaResponse"/>
    </operation>
    <operation name="eliminarApuesta">
      <input wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarApuestaRequest" message="tns:eliminarApuesta"/>
      <output wsam:Action="http://piloto.co.edu.javeriana/Services/eliminarApuestaResponse" message="tns:eliminarApuestaResponse"/>
    </operation>
  </portType>
  <binding name="ServicesPortBinding" type="tns:Services">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registrarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verPerfil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editarPerfil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarPerfil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearCalendario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verCalendario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calcularPuntaje">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verEscuderias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editarEscuderia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verOpinionesPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearOpinionPiloto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verAutos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editarAuto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verApuestas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearApuesta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarApuesta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Services">
    <port name="ServicesPort" binding="tns:ServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

